<%= form_for(User.new, url: user_registration_path) do |f| %>
<li><%= f.email_field :email, autofocus: true, placeholder: "Your email", class: "form-control" %></li>
<li><%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"  %></li>
<li><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation", class: "form-control" %></li>
<li><%= button_tag("Sign Up!", class: "btn btn-primary") %></li>
<% end %> <!--end for form -->

