<%= form_for(:user, :url => session_path(:user)) do |f| %>
<%= f.text_field :email, class: "form-control", placeholder: "Email"  %>
<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
<div class="checkbox">
<label>
<%= f.check_box :remember_me, class: "form-control", value: "sdfs" %>
Remember Me
</label>
</div>
<%= f.submit 'Sign in', class: "btn btn-primary" %>
<%= link_to "Forgot your password?", new_password_path(:user), class: "btn btn-info" %>
<% end %>
