<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
    <div class="modal-body row">
      <div class="col-md-6">
        <h4>Sign Up</h4>
        <%= form_for(User.new, url: user_registration_path) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: "Your email", class: "form-control" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"  %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation", class: "form-control" %>
        <%= button_tag("Sign Up!", class: "btn btn-primary") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4>Sign In</h4>
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email, class: "form-control", placeholder: "Email"  %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        <%= f.submit 'Sign in', class: "btn btn-primary" %>
        <%= link_to "Forgot your password?", new_password_path(:user), class: "btn btn-info" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
</div>
